In [ ]:
#추가
배열 = [1,2,3,4,5]

In [ ]:
print(배열)

[1, 2, 3, 4, 5]

In [ ]:
배열.append(6)

In [ ]:
print(배열)

[1, 2, 3, 4, 5, 6]

In [ ]:
배열.append(7,8) #한 번에 하나만 가능

TypeError: ignored

In [ ]:
배열.append([1,2])

In [ ]:
print(배열)

[1, 2, 3, 4, 5, 6, [1, 2]]

In [ ]:
dir(배열)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
배열2 = [3,10,19,100,1,17]

In [ ]:
print(배열2)

[3, 10, 19, 100, 1, 17]

In [ ]:
배열2.sort()

In [ ]:
print(배열2)

[1, 3, 10, 17, 19, 100]

In [ ]:
문자열배열 = ['z','c','d','가','다','나']
print(문자열배열)

['z', 'c', 'd', '가', '다', '나']

In [ ]:
문자열배열.sort()
print(문자열배열)

['c', 'd', 'z', '가', '나', '다']

In [ ]:
섞인거 = [1,10,3,'b','c','d']
print(섞인거)

[1, 10, 3, 'b', 'c', 'd']

In [ ]:
섞인거.sort()

TypeError: ignored

In [ ]:
배열3 = [5,3,1,6]
print(배열3)

[5, 3, 1, 6]

In [ ]:
배열3.reverse()
print(배열3)

[6, 1, 3, 5]

In [ ]:
섞인거2 = [1,10,3,'b','c','d']
print(섞인거2)

[1, 10, 3, 'b', 'c', 'd']

In [ ]:
섞인거2.reverse()
print(섞인거2)

['d', 'c', 'b', 3, 10, 1]

In [ ]:
배열4 = [1,2,[1,2,3]]
print(배열4)

[1, 2, [1, 2, 3]]

In [ ]:
배열4.reverse()
print(배열4)

[[1, 2, 3], 2, 1]

In [ ]:
print(배열4[0])
배열4[0].reverse()
print(배열4[0])
print(배열4)

[1, 2, 3]
[3, 2, 1]
[[3, 2, 1], 2, 1]

In [ ]:
# 배열.index(찾고자하는값)
음식 = ['라면','떡볶이','커피','짜장면','파스타','불족','피자','치킨']
불족인덱스 = 음식.index('불족')
print(불족인덱스)

5

In [ ]:
음식.index('소고기') #배열 안에 없는 값을 찾으려고하면 에러반환

ValueError: ignored

In [ ]:
떡볶이인덱스 = 음식.index('떡볶이')
피자이전 = 음식.index('피자')
음식2 = 음식[떡볶이인덱스:피자이전]
print(음식2)

['떡볶이', '커피', '짜장면', '파스타', '불족']

In [ ]:
음식.insert(불족인덱스,'소고기')
print(음식)

['라면', '떡볶이', '커피', '짜장면', '파스타', '소고기', '불족', '피자', '치킨']

In [ ]:
음식.pop()

'치킨'

In [ ]:
print(음식)

['라면', '떡볶이', '커피', '짜장면', '파스타', '소고기', '불족', '피자']

In [ ]:
음식.pop(2) #배열.pop(인덱스), 없으면 맨뒤값이 기본값

'커피'

In [ ]:
print(음식)

['라면', '떡볶이', '짜장면', '파스타', '소고기', '불족', '피자']

In [ ]:
음식.remove('불족')

In [ ]:
print(음식)

['라면', '떡볶이', '짜장면', '파스타', '소고기', '피자']

In [ ]:
꺼낸음식 = 음식.pop()
print(꺼낸음식)

소고기

In [ ]:
삭제 = 음식.remove('라면')
print(삭제)

None

In [ ]:
배열5 = [1,1,1,2,3,4,4,'하이','하이',1,2]
하이개수 = 배열5.count('하이')
print(하이개수)

2

In [ ]:
일의개수 = 배열5.count(1)
print(일의개수)

4

In [ ]:
없는거 = 배열5.count('집행검') #없는거 가능
print(없는거)

0

In [ ]:
배열6 = [1,2,3]
배열7 = [4,5,6]
배열6.extend(배열7)
print(배열6,"배열6")
print(배열7,"배열7")

[1, 2, 3, 4, 5, 6] 배열6
[4, 5, 6] 배열7

In [ ]:
배열8 = [1,2,3]
배열9 = 배열8.copy()
print(배열8,"배열8")
print(배열9,"배열9")
배열9[0] = 10
print(배열8,"배열8")
print(배열9,"배열9")

[1, 2, 3] 배열8
[1, 2, 3] 배열9
[1, 2, 3] 배열8
[10, 2, 3] 배열9

In [ ]:
배열10 = [1,2,3,4,5]
print(배열10,"클리어 이전")
배열10.clear()
print(배열10,"클리어 후")

[1, 2, 3, 4, 5] 클리어 이전
[] 클리어 후

In [ ]:
print(type(배열))

<class 'list'>

In [ ]:
튜플 = (1,2,3)
print(튜플)

(1, 2, 3)

In [ ]:
print(튜플[0])

1

In [ ]:
튜플[2] = 10

TypeError: ignored

In [ ]:
샘플배열 = [1,2,3]
print(샘플배열)
del 샘플배열[0]
print(샘플배열)

[1, 2, 3]
[2, 3]

In [ ]:
변수 = 1
print(변수)

1

In [ ]:
del 변수
print(변수)

NameError: ignored

In [ ]:
del 튜플[0] #튜플안의 값은 삭제 안됨

TypeError: ignored

In [ ]:
튜플1 = (1,2,3,[1,2,3])
print(튜플1)
튜플1[-1][0] = 10
print(튜플1)

(1, 2, 3, [1, 2, 3])
(1, 2, 3, [10, 2, 3])

In [ ]:
튜플[:2]

(1, 2)

In [ ]:
dir(튜플)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
len(튜플)

3

In [ ]:
print(type(튜플))

<class 'tuple'>

In [ ]:
딕셔너리 = {'키':'값'}
print(딕셔너리)
print(딕셔너리['키'])

{'키': '값'}
값

In [ ]:
print(type(딕셔너리))

<class 'dict'>

In [ ]:
회원정보 = {
    '이름' : '윤지환',
    '번호' : '010-0000-0000',
    '성별' : '남'
}
print(회원정보)

{'이름': '윤지환', '번호': '010-0000-0000', '성별': '남'}

In [ ]:
print(회원정보['이름'])
print(회원정보['번호'])
print(회원정보['성별'])

윤지환
010-0000-0000
남

In [ ]:
print(회원정보['주소'])

KeyError: ignored

In [ ]:
회원정보['주소'] = '제주시'
print(회원정보)

{'이름': '윤지환', '번호': '010-0000-0000', '성별': '남', '주소': '제주시'}

In [ ]:
print(회원정보['주소'])

제주시

In [ ]:
회원정보['번호'] = '010-0000-0001'
print(회원정보)

{'이름': '윤지환', '번호': '010-0000-0001', '성별': '남', '주소': '제주시'}

In [ ]:
회원정보2 = {'이름': '윤지환',
         '번호': '010-0000-0001',
         '성별': '남',
         '주소': '제주시',
         '번호': '010-0000-0000'
         }
print(회원정보2) #중복되는 키 허용 x

{'이름': '윤지환', '번호': '010-0000-0000', '성별': '남', '주소': '제주시'}

In [ ]:
회원정보.keys()

dict_keys(['이름', '번호', '성별', '주소'])

In [ ]:
dir(회원정보)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
회원정보키 = 회원정보.keys()
회원정보값 = 회원정보.values()
print(회원정보키,"키")
print(회원정보값,"값")

dict_keys(['이름', '번호', '성별', '주소']) 키
dict_values(['윤지환', '010-0000-0001', '남', '제주시']) 값

In [ ]:
이름get = 회원정보.get('이름')
이름 = 회원정보['이름']
print(이름get,'get이용')
print(이름,'key이용하여 가져옴')

윤지환 get이용
윤지환 key이용하여 가져옴

In [ ]:
샘플딕셔너리 = {
          "배열1":[1,2,3]
}
배열get = 샘플딕셔너리.get("배열") #없는 키값은 None으로 없다고 알려줌

In [ ]:
print(배열get)

None

In [ ]:
'이름' in 회원정보

True

In [ ]:
'직업' in 회원정보

False

In [ ]:
print(True)

True

In [ ]:
print(type(True))

<class 'bool'>

In [ ]:
print(False)

False

In [ ]:
print(type(False))

<class 'bool'>

In [ ]:
숫자1 = 10
숫자2 = 20

In [ ]:
결과1 = 숫자1 < 숫자2
print(결과1)

True

In [ ]:
결과2 = 숫자1 > 숫자2
print(결과2)

False

In [ ]:
결과3 = 숫자1 >= 숫자2
결과4 = 숫자1 <= 숫자2
결과5 = 숫자1 == 숫자2
결과6 = 숫자1 != 숫자2

In [ ]:
print(결과3)
print(결과4)
print(결과5)
print(결과6)

False
True
False
True

In [ ]:
# if True/False가 들어간다
if False:
    pirnt("거짓입니다.")

In [ ]:
if True:
    print("참입니다.")

참입니다.

In [ ]:
not True

False

In [ ]:
if not False:
    print("거짓입니다.")
else:
    print("조건에 맞는것이 없습니다.")

거짓입니다.

In [ ]:
조건 = False
if not 조건:
    print("거짓입니다.")
else:
    print("조건에 맞는것이 없습니다.")

거짓입니다.

In [ ]:
조건 = True
if not 조건:
    print("거짓입니다.")
else:
    print("조건에 맞는것이 없습니다.")

조건에 맞는것이 없습니다.

In [ ]:
숫자1 = 1
숫자2 = 10
숫자3 = 15
if 숫자1>5:
  print("숫자1이 5보다 큽니다.")
elif 숫자2<11:
  print("숫자2가 11보다 작습니다.")
else:
  print(숫자3, "마지막숫자입니다")

숫자2가 11보다 작습니다.

In [ ]:
print(False and False)

False

In [ ]:
print(True and False)

False

In [ ]:
print(True or False)

True

In [ ]:
숫자1 = 1
숫자2 = 10
숫자3 = 15
if 숫자1>5 or 숫자2<11:
  print("숫자1이 5보다 큽니다, 또는 숫자2가 11보다 작습니다")
elif 숫자2<11:
  print("숫자2가 11보다 작습니다.")
else:
  print(숫자3, "마지막숫자입니다")

숫자1이 5보다 큽니다, 또는 숫자2가 11보다 작습니다

In [ ]:
입력받은값 = input()

10

In [ ]:
print(입력받은값)

10

In [ ]:
print(입력받은값 > 5|)

SyntaxError: ignored

In [ ]:
print(type(입력받은값))

<class 'str'>

In [ ]:
입력받은숫자 = int(입력받은값)

In [ ]:
print(type(입력받은숫자))

<class 'int'>

In [ ]:
첫번째숫자 = input()
두번째숫자 = input()
첫번째값 =int(첫번째숫자)
두번째값 =int(두번째숫자)

if 첫번째값>두번째값:
  print("첫번째숫자가 큽니다")
elif 첫번째값==두번째값:
  print("숫자가 같습니다")
else:
  print("두번째숫자가 큽니다.")

1
1
숫자가 같습니다

In [ ]:
#while True인동안:
카운트 = 0
while 카운트<10:
  print(카운트)
  카운트 = 카운트 + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#while True인동안:
카운트 = 0
while 카운트<10:
  print(카운트)
  카운트 = 카운트 + 1
  break

0

In [ ]:
카운트 = 0
while 카운트<10:
  print(카운트)
  카운트 = 카운트 + 1
  if 카운트>5:
    break

0
1
2
3
4
5

In [ ]:
카운트 = 0
while 카운트<10:
  카운트 = 카운트 + 1
  if (카운트==1):
    continue

  if(카운트%2==1):
    print(카운트)

3
5
7
9

In [ ]:
for 숫자 in [0,1,2,3,4]:
    print(숫자)

0
1
2
3
4

In [ ]:
레인지 = range(10)

In [ ]:
print(레인지) #순서가 있다

range(0, 10)

In [ ]:
for 숫자 in range(10):
    if 숫자%2 == 1:
      print(숫자)

1
3
5
7
9

In [ ]:
for 숫자 in range(1,10):
    for 숫자2 in range(1,5):
      print(숫자, 숫자2)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4
5 1
5 2
5 3
5 4
6 1
6 2
6 3
6 4
7 1
7 2
7 3
7 4
8 1
8 2
8 3
8 4
9 1
9 2
9 3
9 4

In [ ]:
for 숫자 in range(2,10):
    for 숫자2 in range(2,10):
      print(숫자,"x", 숫자2,"=", 숫자*숫자2,end="")
    print("\n")

2 x 2 = 42 x 3 = 62 x 4 = 82 x 5 = 102 x 6 = 122 x 7 = 142 x 8 = 162 x 9 = 18

3 x 2 = 63 x 3 = 93 x 4 = 123 x 5 = 153 x 6 = 183 x 7 = 213 x 8 = 243 x 9 = 27

4 x 2 = 84 x 3 = 124 x 4 = 164 x 5 = 204 x 6 = 244 x 7 = 284 x 8 = 324 x 9 = 36

5 x 2 = 105 x 3 = 155 x 4 = 205 x 5 = 255 x 6 = 305 x 7 = 355 x 8 = 405 x 9 = 45

6 x 2 = 126 x 3 = 186 x 4 = 246 x 5 = 306 x 6 = 366 x 7 = 426 x 8 = 486 x 9 = 54

7 x 2 = 147 x 3 = 217 x 4 = 287 x 5 = 357 x 6 = 427 x 7 = 497 x 8 = 567 x 9 = 63

8 x 2 = 168 x 3 = 248 x 4 = 328 x 5 = 408 x 6 = 488 x 7 = 568 x 8 = 648 x 9 = 72

9 x 2 = 189 x 3 = 279 x 4 = 369 x 5 = 459 x 6 = 549 x 7 = 639 x 8 = 729 x 9 = 81

In [ ]:
while True:
  입력값 = input()
  입력숫자 = int(입력값)
  if 입력숫자==0:
    break
  if 입력숫자<0 or 입력숫자>9:
    print("1부터 9까지만 가능")
    continue
  for 곱할숫자 in range(2,10):
      print(곱할숫자,"X",입력숫자,"=",곱할숫자*입력숫자)

2 X 4 = 8
3 X 4 = 12
4 X 4 = 16
5 X 4 = 20
6 X 4 = 24
7 X 4 = 28
8 X 4 = 32
9 X 4 = 36